.archive.category {
    #main {
        article {
            h2 {
                a {
                    font-size: 32px;
                    color: @black;
                }
            }
            .wp-post-image {
                .inner-outline;
            }
            @media (max-width: 768px) {
                margin-bottom: @measure;
                img {
                    float: none;
                    max-width: 100%;
                    margin-right: 0;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
        #sidebar {
            width: 100%;
            .widget {
                padding-left: 0;
            }
        }
    }
}