.archive.category {
    #main {
        .byline {
            .avatar {
                @media (max-width: 768px) {
                    margin: 0!important;
                }
            }
        }
        article {
            h2 {
                &.entry-title {
                    line-height: @measure + 0.5rem;
                }
                a {
                    font-size: 32px;
                    color: @black;
                }
            }
            .wp-post-image {
                .inner-outline;
            }
            @media (max-width: 768px) {
                margin-bottom: @measure;
                img {
                    float: none;
                    max-width: 100%;
                    margin-right: 0;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
        #sidebar {
            width: 100%;
            .widget {
                padding-left: 0;
                border-top: 3px solid @black;
                margin-top: @measure;
                .widgettitle {
                    width: max-content;
                    background: @white;
                    color: @black;
                    padding: .75rem 1rem;
                    margin: 0 auto;
                    margin-top: calc( -1/2 * ( 26px + 1.5rem ) - 3px );
                    font-family: @font-header;
                    font-size: 24px;
                    line-height: 26px;
                    text-transform: uppercase;
                }
            }
            .largo-recent-posts {
                ul {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: @measure;
                    li {
                        .largo-follow {
                            display: none;
                        }
                    }
                    @media (max-width: 769px) {
                        grid-template-columns: repeat(1, 1fr);
                    }
                }
            }
        }
    }
}