.footer-bg {
    background: @white;
    #site-footer {
        border-top: 1px solid @grey2;
        color: @grey;
        #boilerplate {
            a {
                color: @grey;
            }
        }
        .widgettitle {
            font-family: @font-body-display;
            font-size: 21px;
            line-height: 2.3rem;
            font-weight: 600;
            color: @black;
            text-transform: inherit;
        }
        p {
            font-size: 16px;
        }
        .widget_media_image {
            text-align: center;
            img {
                max-width: 15%!important;
            }
        }
        .footer-credit-padding-inn-logo-missing {
            margin-top: 0;
        }
        #menu-footer-navigation {
            list-style: none;
            li {
                &:before {
                    content: "\2022";
                    color: @teal;
                    font-weight: bold;
                    display: inline-block; 
                    width: 1em;
                    margin-left: 0em;
                }
                a {
                    font-size: 16px;
                    color: @grey;
                }
            }
        }
    }
}