#site-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
        &:first-of-type {
            flex: 1 1 0px;
            order: 2;
            text-align: center;
            border-left: 1px solid @grey3;
            border-right: 1px solid @grey3;
            @media (max-width: 769px) {
                border: 0;
            }
        }
    }
    .header_img {
        max-width: 100%;
    }
    aside {
        float: none;
        flex: 1 1 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 30%;
        &:first-of-type {
            order: 1;
            .textwidget {
                max-width: 90%;
            }
        }
        &:nth-of-type(2) {
            order: 3;
            .textwidget {
                max-width: 90%;
                margin-left: 10%;
            }
        }
        label {
            font-family: @font-body-display;
            font-size: 21px;
            line-height: 2.3rem;
            font-weight: 600;
            color: @black;
        }
        @media (max-width: 999px) {
            max-width: 25%;
        }
        @media (max-width: 769px) {
            display: none;
        }
    }
}