#site-header {
    display: flex;
    flex-direction: row;
    a:not(.social-btn) {
        &:first-of-type {
            flex: 1 1 0px;
            order: 2;
            text-align: center;
            border-left: 1px solid @grey3;
            border-right: 1px solid @grey3;
            @media (max-width: 769px) {
                border: 0;
            }
        }
    }
    .header_img {
        max-width: 336px;
    }
    aside {
        float: none;
        flex: 1 1 0px;
        display: flex;
        flex-direction: column;
        max-width: 28%;
        margin-top: @measure;
        &:first-of-type {
            order: 1;
            .textwidget {
                max-width: 90%;
            }
        }
        .widgettitle {
            font-family: @font-body-display;
            font-size: 21px;
            line-height: 2.3rem;
            font-weight: 600;
            color: @black;
            text-transform: inherit;
        }
        @media (max-width: 999px) {
            max-width: 25%;
        }
        @media (max-width: 769px) {
            display: none!important;
        }
    }
    .header-right-sidebar {
        order: 3;
        display: block;
        float: none;
        flex: 1 1 0px;
        display: flex;
        flex-direction: column;
        max-width: 28%;
        margin-top: @measure;
        margin-left: @measure + 1rem;
        aside {
            &:first-of-type {
                order: 0;
                margin-top: 0;
            }
            max-width: 100%;
            &.largo-follow {
                display: block;
                li {
                    &::before {
                        display: none;
                    }
                }
                a {
                    width: max-content;
                    border: 0;
                    margin-bottom: 10px!important;
                }
            }
        }
        .widgettitle {
            max-width: 90%;
        }
        @media (max-width: 769px) {
            display: none!important;
        }
    }
}
