#main-nav.navbar {
	position: sticky;
	top: 0;
	z-index: 10; // makes background color work, also prevents z-conflict with widgets
	background: @white;
	border-top: 1px solid @grey3;
	border-bottom: 4px solid @grey1;
	@media ( max-width: 768px ) {
		// override Largo
		display: block;
	}
	.admin-bar & {
		top: 32px;
		@media ( max-width: 782px ) {
			top: 46px;
		}
	}
}

.navbar .nav > li > a {
	color: @grey1;
	&:hover {
		background-color: transparent;
		color: @blue;
	}
}

@media ( min-width: 769px ) {
	.navbar .nav {
		float: none;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		flex-wrap: nowrap;
	}
}
