.single {
    .entry-title {
        color: @black;
        font-family: @font-body-display;
        font-size: 72px;
        line-height: 5rem;
        text-align: center;
    }
    .byline {
        text-align: center;
        .sep,
        .entry-date {
            display: none;
        }
        .by-author {
            font-size: 18px;
            line-height: 1.8rem;
            .by {
                font-family: @font-body;
                font-style: italic;
                color: @grey;
            }
            .author {
                a {
                    font-family: @font-header;
                    font-weight: 600;
                    letter-spacing: 1.8px;
                    color: @orange;
                    text-transform: uppercase;
                }
            }
        }
    }
    .largo-follow.post-social {
        @media (max-width: 769px){
            max-width: max-content;
            margin: 0 auto;
            span {
                float: left;
                &:nth-child(3n+1) {
                    clear: left;
                }
            }
        }
    }
    .entry-content {
        font-size: 17px;
        p {
            font-size: 17px;
        }
    }
    .article-bottom {
        padding-top: @measure;
        margin: 0!important;
        .widget {
            border-top: 3px solid @black;
            margin-top: @measure;
            margin-left: 17.021276594%;
            margin-right: 17.021276594%;
            .widgettitle {
                width: max-content;
                background: @white;
                color: @black;
                padding: .75rem 1rem;
                margin: 0 auto;
                margin-top: -4%;
                font-family: @font-header;
                font-size: 24px;
                line-height: 26px;
                text-transform: uppercase;
            }
        }
        .largo-recent-posts {
            margin: 0;
            ul {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: @measure;
                @media (max-width: 768px) {
                    grid-template-columns: repeat(1, 1fr);
                }
                .post-social {
                    max-width: 100%;
                    span {
                        float: none;
                    }
                }
            }
        }
    }
    ul.blocks-gallery-grid {
        .blocks-gallery-item {
            &::before {
                display: none;
            }
        }
    }
}