body {
    font-family: @font-body;
    color: @grey;
    p {
        line-height: 1.8rem;
    }
    ul {
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
        list-style: none;
        li {
            margin-bottom: 1.5rem;
            color: @grey;
            font-size: 16px;
            &:before {
                content: "\2022";
                color: #00829A;
                font-weight: bold;
                display: inline-block; 
                width: 1em;
                margin-left: -1.05em;
            }
        }
    }
    ol {
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
        list-style: none;
        counter-reset: li;
        li {
            margin-bottom: 1.5rem;
            color: @grey;
            font-size: 16px;
            counter-increment: li;
            &:before {
                content: counter(li);
                color: #00829A;
                font-weight: bold;
                display: inline-block; 
                width: 1em;
                margin-left: -1.05em;
                margin-right: 0.5em;
            }
        }
    }
}