
@black: #313131;
@grey: #6B6A6A;
@orange: #D34400;
@teal: #00829A;

@color-heading: @black;
@color-body: @grey;

// copied from Largo for ease
@navbarHeight: 40px;

// Fonts
@font-body: kepler-std, "Helvetica", "Helvetia Neue", Arial, sans-serif;
@font-header: urw-din-condensed, "Helvetica Neue", Helvetica, Arial, sans-serif;

// this determines a lot of things regarding homepage and top term spacing
@measure: 1.5rem;