// Colors
@black: #313131;
@grey: #4A4A4A;
@grey2: #E2E2E2;
@grey3: #CDCDCD; // mockups use E2, CD, and CC for various places that all seem to be the same function design-wise; this is the middle of all those. Used for borders
@orange: #D34400;
@red: #ED4424;
@teal: #00829A; // just the logo
@blue: #1897BE; // all other blues
@white: white;

@color-heading: @black;
@color-body: @grey;

// copied from Largo for ease
@navbarHeight: 40px;

// Fonts
@font-body: Georgia, serif;
@font-body-display: kepler-std-semicondensed-dis, Garamond, serif;
@font-header: urw-din-condensed, "Helvetica Neue", Helvetica, Arial, sans-serif;

// this determines a lot of things regarding homepage and top term spacing
@measure: 1.5rem;
