// largo follow widget styles
.largo-follow {
    margin: 0;
    &.post-social {
        text-align: center;
        margin-top: calc(@measure + 1rem);
        margin-bottom: calc(@measure + 1rem);
        span {
            background: transparent;
            &.popover {
                background: @white;
                &:hover {
                    background: @white;
                }
                ul {
                    li {
                        &:before {
                            content: '';
                        }
                    }
                }
                i {
                    position: relative;
                    color: @teal;
                    &:hover {
                        color: @blue;
                    }
                }
                span {
                    margin: 10px 0;
                }
            }
            &:hover {
                background: transparent;
            }
            a {
                font-size: initial;
                padding: 0;
                margin: 0 20px 0 0!important;
                i {
                    padding: 10px 11px;
                    &:before {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    a {
        display: inline-block;
        color: transparent;
        font-size: 0;
        background-color: transparent!important;
        margin: 0 10px 10px 0!important;
        padding: 0;
        outline: none;
        i {
            color: @teal;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            border: 1px solid @teal;
            text-align: center;
            line-height: 34px;
            vertical-align: middle;
            padding: 0;
            margin-right: 0;
            &:hover {
                border: 1px solid @blue;
                color: @blue;
            }
        }
    }
}

// search widget
.widget_search {
    input.searchbox {
        font-size: 15px;
        margin-right: 0;
        width: 95%!important;
        margin-bottom: 15px;
    }
    .btn {
        margin-left: 0;
        width: 100%;
        padding: 10px;
    }
}